header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#Logo {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;

  .first-letter {
    color: var(--blue);
  }

  .second-letter {
    color: var(--blue-light);
  }
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;

  a {
    text-decoration: none;
    color: var(--white);
    font-size: 23px;
    font-style: normal;
    padding-bottom: 4px;
    position: relative;
    min-width: 56px;
    transition: color 200ms linear;
    cursor: pointer;

    &:hover {
      color: #00bee8;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--blue);
        opacity: 0;
        animation: fadeIn 200ms linear forwards;
      }
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}

.translate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .translate-line {
    color: #fff;
    border: 1px solid var(--white);
    height: 20px;
  }

  a {
    min-width: 0;
  }
}
