<header>
  <div class="header-content">
    <div class="header-left">
      <div routerLink="/" id="logo" (click)="scrollToTop()">
        Pa<span class="logo-highlight-first-letter">s</span
        ><span class="logo-highlight-second-letter">c</span>al
      </div>
    </div>
    <nav>
      <ul>
        <li><a (click)="scrollToSection('about-me')" translate>About me</a></li>
        <li><a (click)="scrollToSection('my-skills')" translate>Skills</a></li>
        <li>
          <a (click)="scrollToSection('portfolio')" translate>Portfolio</a>
        </li>
      </ul>
      <div class="language-switch">
        <a (click)="translate.use('de')">DE</a>
        <div class="translate-line"></div>
        <a (click)="translate.use('en')">EN</a>
      </div>
      <app-burger-menu></app-burger-menu>
    </nav>
  </div>
</header>
