<div class="footer-container">
  <div class="footer">
    <div class="footer-logo-container">
      <!-- <a href="#">
        <img src="../../assets/image/logo/headerLogo.svg" alt="" />
      </a> -->
      <div id="Logo" (click)="scrollToTop()">
        Pa<span class="first-letter">s</span
        ><span class="second-letter">c</span>al
      </div>
      <div>
        <a routerLink="/imprint">Impressum</a>
      </div>
    </div>
    <div>
      <p>&copy; Pascal Huber 2023</p>
    </div>
    <div class="footer-icons-container">
      <a href="https://github.com/HuberPascal" target="_blank">
        <img
          src="../../assets/image/icons/footer/github-icon.png"
          alt="Github Icon"
        />
      </a>
      <a href="mailto:pascal.huber92@gmx.ch">
        <img
          src="../../assets/image/icons/footer/mail-icon.png"
          alt="Email Icon"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/pascal-huber-1851a82a3/"
        target="_blank"
      >
        <img
          src="../../assets/image/icons/footer/linkedin-icon.png"
          alt="LinkedIn Icon"
        />
      </a>
    </div>
  </div>
</div>
