<div class="footer-container">
  <div class="footer">
    <div class="footer-logo-container">
      <a href="#">
        <img src="../../assets/image/logo/headerLogo.svg" alt="" />
      </a>
      <div>
        <a href="#">Impressum</a>
      </div>
    </div>
    <div>
      <p>&copy; Pascal Huber 2023</p>
    </div>
    <div class="footer-icons-container">
      <img src="../../assets/image/icons/footer/github-icon.png" alt="" />
      <img src="../../assets/image/icons/footer/mail-icon.png" alt="" />
      <img src="../../assets/image/icons/footer/linkedin-icon.png" alt="" />
    </div>
  </div>
</div>
