<div class="footer-container">
  <div class="footer">
    <div class="footer-logo-container">
      <!-- <a href="#">
        <img src="../../assets/image/logo/headerLogo.svg" alt="" />
      </a> -->
      <div id="Logo" (click)="scrollToTop()">
        Pa<span class="first-letter">s</span
        ><span class="second-letter">c</span>al
      </div>
      <div>
        <a routerLink="/imprint">Impressum</a>
      </div>
    </div>
    <div>
      <p>&copy; Pascal Huber 2023</p>
    </div>
    <div class="footer-icons-container">
      <img src="../../assets/image/icons/footer/github-icon.png" alt="" />
      <img src="../../assets/image/icons/footer/mail-icon.png" alt="" />
      <img src="../../assets/image/icons/footer/linkedin-icon.png" alt="" />
    </div>
  </div>
</div>
