p {
  margin: 0;
  font-size: 23px;
  color: var(--pure-white);
}

footer {
  color: var(--pure-white);
  font-family: "Poppins", sans-serif;
  background-color: var(--midnight-blue);
  box-sizing: border-box;
  border-top: 4px solid var(--aqua-blue);

  @media (max-width: 1050px) {
    height: 100%;
  }
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 100px;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1050px) {
    gap: 32px;
    padding: 120px 25px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    padding: 50px 0;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;

  a {
    height: 40px;
    text-decoration: none;
    color: var(--pure-white);
    cursor: pointer;
  }

  img {
    height: 100%;
    cursor: pointer;
  }
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 72px;

  img {
    cursor: pointer;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  @media (max-width: 1050px) {
    gap: 42px;
  }
}

#footer-logo {
  color: var(--pure-white);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;

  .logo-highlight-first-letter {
    color: var(--vibrant-blue);
  }

  .logo-highlight-second-letter {
    color: var(--aqua-blue);
  }
}

.footer-imprint-link-top {
  display: block;

  @media (max-width: 800px) {
    display: none;
  }
}

.footer-imprint-link-bottom {
  display: none;

  a {
    text-decoration: none;
    color: var(--pure-white);
    cursor: pointer;
  }

  @media (max-width: 800px) {
    display: inline-block;
  }
}
