<div class="about-me-container">
  <div class="about-me-section">
    <div class="about-me-left">
      <div>
        <h1>About me</h1>
        <div class="about-me-left-text-container">
          <p>
            I am a software engineer with over 5 years of experience in
            developing and maintaining web applications. I have worked on
            various projects. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ipsam consequatur quis molestias asperiores nostrum optio
            reiciendis dolore perspiciatis libero tempore adipisci aspernatur
            aliquid illum cupiditate odit, saepe quibusdam alias provident!
          </p>
          <div class="personal-info-container light-bulb-img">
            <div>
              <img
                src="../../assets/image/icons/aboveTheFold/light-bulb.png"
                alt=""
              />
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
              voluptate numquam facilis ad odit accusantium repellendus dolore
              et amet at repudiandae dolorum dolor, tempora, saepe tempore,
              maxime consequuntur neque. Sint.
            </p>
          </div>
          <div class="personal-info-container puzzle-img">
            <div>
              <img
                class=""
                src="../../assets/image/icons/aboveTheFold/puzzle.png"
                alt=""
              />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum id ea
              debitis, possimus est dignissimos minima necessitatibus
              consequatur unde magni provident at fugit maiores voluptatum
              molestias alias sapiente odit nostrum!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-me-right">
      <div class="about-me-img">
        <img src="../../assets/image/blue-circle.png" alt="" />
        <div class="absolut">
          <img src="../../assets/image/person.png" alt="" />
        </div>
      </div>
      <div class="about-me-blue-line">
        <img src="../../assets/image/blue-line-about-me.png" alt="" />
      </div>
    </div>
  </div>
  <div class="about-me-background-img">
    <img src="../../assets/image/background-img-about-me.png" alt="" />
  </div>
</div>
