<div id="about-me">
  <div class="about-me-section">
    <div class="about-me-left">
      <div>
        <h1>About me</h1>
        <div class="about-me-left-text-container">
          <p>
            Hey, ich bin Pascal Huber, Frontend-Entwickler aus Lachen in der
            Schweiz. Herzlich willkommen auf meiner Portfolio-Seite, wo ich
            einen Einblick in meine Reise durch die Welt der Webentwicklung
            gebe. Meine Leidenschaft gilt dem Erstellen ansprechender
            Benutzeroberflächen und nutzerfreundlicher Websites. In meiner
            Arbeit als Frontend-Entwickler strebe ich nach sauberem Code und
            funktionalen Designs.
          </p>
          <div class="personal-info-container light-bulb-img">
            <div>
              <img
                src="../../assets/image/icons/aboveTheFold/light-bulb.png"
                alt=""
              />
            </div>
            <p>
              Während meiner Ausbildung zum Frontend-Entwickler habe ich
              umfassende Kenntnisse erworben und an verschiedenen Projekten
              gearbeitet, die meine Fähigkeiten in der Webentwicklung vertieft
              haben. Im Portfolio-Bereich finden Sie einige dieser Projekte, die
              meine praktische Erfahrung und meine Fertigkeiten als Junior
              Frontend-Entwickler widerspiegeln.
            </p>
          </div>
          <div class="personal-info-container puzzle-img">
            <div>
              <img
                class=""
                src="../../assets/image/icons/aboveTheFold/puzzle.png"
                alt=""
              />
            </div>
            <p>
              Mit dem erlangten Fachwissen an dieser professionellen und
              projektbasierten Programmierschule bin ich hochmotiviert, meine
              Fähigkeiten und Erfahrungen als Ihr neuer Junior-Entwickler
              einzubringen und so zum Erfolg Ihres Unternehmens beizutragen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-me-right">
      <div class="about-me-img">
        <img src="../../assets/image/blue-circle.png" alt="" />
        <div class="absolut">
          <img src="../../assets/image/person.png" alt="" />
        </div>
      </div>
      <div class="about-me-blue-line">
        <img src="../../assets/image/blue-line-about-me.png" alt="" />
      </div>
    </div>
  </div>
  <div class="about-me-background-img">
    <img src="../../assets/image/background-img-about-me.png" alt="" />
  </div>
</div>
