<div id="about-me">
  <div class="about-section">
    <div class="about-text-section">
      <div>
        <h1 translate>About me</h1>
        <div class="about-text-container">
          <p>
            Hey, I'm Pascal Huber, a frontend developer from Lachen,
            Switzerland. Welcome to my portfolio page, where I provide an
            insight into my journey through the world of web development. My
            passion lies in creating appealing user interfaces and user-friendly
            websites. In my work as a frontend developer, I strive for clean
            code and functional designs.
          </p>
          <div class="personal-info-container">
            <div class="inspiration-icon">
              <img
                src="assets/image/icons/aboveTheFold/light-bulb.png"
                alt=""
              />
            </div>
            <p>
              During my training as a frontend developer, I acquired
              comprehensive knowledge and worked on various projects that have
              deepened my skills in web development. In the portfolio section,
              you will find some of these projects that reflect my practical
              experience and my skills as a junior frontend developer.
            </p>
          </div>
          <div class="personal-info-container challenge-icon">
            <div>
              <img
                class=""
                src="assets/image/icons/aboveTheFold/puzzle.png"
                alt=""
              />
            </div>
            <p>
              With the expertise gained at this professional and project-based
              programming school, I am highly motivated to contribute my skills
              and experiences as your new junior developer and thus contribute
              to the success of your company.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-image-section">
      <div class="profile-image-container">
        <div class="profile-image-circle">
          <img
            src="assets/image/me/46465257-4A90-4B94-8289-16CAE0B438EF.png"
            alt=""
          />
        </div>
        <div class="decorative-line"></div>
      </div>
    </div>
  </div>
  <div class="background-image-container">
    <img src="assets/image/background-img-about-me.png" alt="" />
  </div>
</div>
