h4 {
  font-size: 32px;
  font-weight: 700;
  color: #4b47ff;
  margin: 0;
}

.odd-mirrored {
  transform: scaleX(-1);
  text-align: end;

  @media (max-width: 950px) {
    text-align: center;
  }
}

span {
  margin: 0;
  font-size: 23px;
  color: #00bee8;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 120%;
}

.projects {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  font-family: "Poppins", sans-serif;
  margin: 0 100px;

  img {
    @media (max-width: 1050px) {
      transform: scale(0.9);
    }
  }

  @media (max-width: 1400px) {
    padding-top: 80px;
  }

  @media (max-width: 1050px) {
    margin: 0 25px;
  }

  @media (max-width: 950px) {
    flex-direction: column;
    margin: 0 25px;
    padding-top: 50px;
  }
}

.odd-projects {
  transform: scaleX(-1);
}

.project {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 950px) {
    text-align: center;
    width: 500px;
  }

  @media (max-width: 600px) {
    width: 420px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.projects-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 339px;

  img {
    height: 100%;
  }

  @media (max-width: 950px) {
    width: 100%;
  }
}

.projects-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  width: 513px;

  @media (max-width: 950px) {
    width: 100%;
    align-items: center;
  }
}

.project-btn-container {
  display: flex;
  gap: 86px;

  a {
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  @media (max-width: 1050px) {
    gap: 50px;
  }

  @media (max-width: 950px) {
    justify-content: center;
  }
}

.odd-project-btn-container {
  transform: scaleX(-1);
  justify-content: flex-end;

  @media (max-width: 950px) {
    justify-content: center;
  }
}

.live-test-btn {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 23px;
  background-color: #4b47ff;
  border-radius: 10px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: #00bee8;
  }
}

.github-btn {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 23px;
  border-radius: 10px;
  border: 1px solid #00bee8;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: #00bee8;
  }
}
