<div class="above-the-fold-container">
  <div class="photo-shadow">
    <img src="../../assets/image/background-img-above-the-fold.png" alt="" />
  </div>
  <div class="character-photo">
    <img src="../../assets/image/character-photo.png" alt="" />
  </div>
  <div class="background-section-img">
    <img src="../../assets/image/background-section.png" alt="" />
  </div>

  <div class="above-the-fold-text-container">
    <div class="above-the-fold-titel">
      <div class="above-the-fold-left">
        <h2>I am</h2>
      </div>
      <div>
        <div class="above-the-fold-right">
          <h1>Pascal Huber</h1>
          <h3>FRONTEND DEVELOPER</h3>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button>Let`s talk!</button>
    </div>
  </div>

  <div class="social-Media-container">
    <div class="social-Media-left">
      <img src="../../assets/image/blue-line.png" alt="" />
      <div class="social-Media-icons">
        <a href="#">
          <img
            src="../../assets/image/icons/aboveTheFold/github-icon.png"
            alt=""
          />
        </a>
        <a href="#">
          <img
            src="../../assets/image/icons/aboveTheFold/mail-icon.png"
            alt=""
          />
        </a>
        <a href="#">
          <img
            src="../../assets/image/icons/aboveTheFold/linkedin-icon.png"
            alt=""
          />
        </a>
      </div>
    </div>

    <div class="social-Media-right">pascal.huber92&#64;gmx.ch</div>
  </div>
</div>
