<!-- <form (submit)="sendMail($event)" autocomplete="off"> -->
<form (submit)="test($event)" autocomplete="off">
  <div class="form-text-area">
    <div class="input-container-name">
      <input
        [(ngModel)]="inputValueName"
        [ngClass]="{
          'error-border': inputFocusName && inputValueName.length < 5,
          'valid-border':
            inputFocusName && inputValueName && inputValueName.length >= 5,
          'default-border': !inputFocusName && !inputValueName
        }"
        type="text"
        name="name"
        placeholder="Your name"
        (focus)="onInputFocusName()"
        (blur)="onInputBlurName()"
      />
      <img
        *ngIf="showImageName && inputFocusName && inputValueName.length < 5"
        src="assets/image/icons/contact/mistake-icon.png"
        alt=""
        class="input-validation-icon"
      />
      <img
        *ngIf="showImageName && inputFocusName && inputValueName.length >= 5"
        src="assets/image/icons/contact/correct-icon.png"
        alt=""
        class="input-validation-icon"
      />
      <div class="required" *ngIf="inputFocusName && inputValueName.length < 5">
        <p>Your name is required</p>
      </div>
    </div>

    <div class="input-container-mail">
      <input
        [(ngModel)]="inputValueMail"
        [ngClass]="{
          'error-border': inputFocusMail && !isEmailValid(),
          'valid-border': inputFocusMail && inputValueMail && isEmailValid(),
          'default-border': !inputFocusMail && !inputValueMail
        }"
        type="email"
        name="email"
        placeholder="Your email"
        (focus)="onInputFocusMail()"
        (blur)="onInputBlurMail()"
      />
      <img
        *ngIf="showImageMail && inputFocusMail && !isEmailValid()"
        src="assets/image/icons/contact/mistake-icon.png"
        alt=""
        class="input-validation-icon"
      />
      <img
        *ngIf="
          showImageMail && inputFocusMail && inputValueMail && isEmailValid()
        "
        src="assets/image/icons/contact/correct-icon.png"
        alt=""
        class="input-validation-icon"
      />
      <div class="required" *ngIf="inputFocusMail && !isEmailValid()">
        <p>Your email is required</p>
      </div>
    </div>
    <div class="textarea-container-message">
      <textarea
        [(ngModel)]="inputValueMessage"
        [ngClass]="{
          'error-border': inputFocusMessage && inputValueMessage.length < 20,
          'valid-border':
            inputFocusMessage &&
            inputValueMessage &&
            inputValueMessage.length >= 20,
          'default-border': !inputFocusMessage && !inputValueMessage
        }"
        name="message"
        placeholder="Your message"
        (focus)="onInputFocusMessage()"
        (blur)="onInputBlurMessage()"
      ></textarea>
      <img
        *ngIf="
          showImageMessage && inputFocusMessage && inputValueMessage.length < 20
        "
        src="assets/image/icons/contact/mistake-icon.png"
        alt=""
        class="input-validation-icon-textarea-textarea"
      />
      <img
        *ngIf="
          showImageMessage &&
          inputFocusMessage &&
          inputValueMessage &&
          inputValueMessage.length >= 20
        "
        src="assets/image/icons/contact/correct-icon.png"
        alt=""
        class="input-validation-icon-textarea-textarea"
      />
      <div class="required" *ngIf="inputFocusMessage && !isMessageValid()">
        <p>Your message is empty or less than 20 characters</p>
      </div>
    </div>
  </div>

  <div class="form-submit-section">
    <div class="checkbox-section">
      <div class="checkbox-container">
        <div class="checkbox" (click)="toggleCheckbox()">
          <div
            class="checkbox-icon"
            [class.checked]="privacyPolicyChecked"
          ></div>
        </div>

        <p>
          I`ve read the
          <a routerLink="/imprint">privacy policy</a> and agree to the
          processing of my data as outlined.
        </p>
      </div>
      <p
        *ngIf="
          isNameValid() &&
          isEmailValid() &&
          isMessageValid() &&
          !privacyPolicyChecked
        "
        class="required"
      >
        Please accept the privacy policy
      </p>
    </div>
    <div class="button-container">
      <button
        type="submit"
        [ngStyle]="{
          'background-color': isFormValid() ? '#00BEE8' : '#B6B6B6',
          cursor: isFormValid() ? 'pointer' : 'not-allowed'
        }"
        [disabled]="!isFormValid()"
      >
        Send message :&#41;
      </button>
    </div>
  </div>
</form>

<div
  class="sendMailMessage"
  [ngClass]="{
    'message-visible': isMailSend,
    'message-fade-out': fadeOutSendMessage,
    'message-hidden': !isMailSend,
  }"
>
  <span>Thank you! Your form has been successfully submitted.</span>
</div>
