<div id="contact">
  <div class="contact-title">
    <div class="decorative-line"></div>
    <h1 translate>Contact</h1>
  </div>

  <div class="contact-section">
    <div class="contact-text">
      <h4 translate>Got a problem to solve?</h4>
      <p translate="contactFormText"></p>
      <p translate>
        Need a Frontend developer? <span translate>Contact me!</span>
      </p>
    </div>
    <app-contact-form></app-contact-form>
  </div>
  <div class="scroll-to-top-button" (click)="scrollToTop()"></div>
</div>
