h1 {
  font-size: 90px;
  font-weight: 700;
  margin: 0;

  @media (max-width: 1550px) {
    font-size: 70px;
  }

  @media (max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 700px) {
    font-size: 60px;
  }

  @media (max-width: 530px) {
    font-size: 53px;
  }

  @media (max-width: 450px) {
    font-size: 46px;
  }

  @media (max-width: 395px) {
    font-size: 40px;
  }
}

h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;

  @media (max-width: 500px) {
    font-size: 23px;
  }
}

p {
  margin: 0;
  font-size: 16px;
  word-wrap: break-word;
  text-align: start;
  line-height: 120%;
}

span {
  font-weight: 700;
}

#contact {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  padding-bottom: 300px;
  background-color: var(--dark-blue);
  box-sizing: border-box;
  height: auto;
  position: relative;

  @media (max-width: 500px) {
    padding-bottom: 200px;
  }
}

.blue-line {
  height: 4px;
  background-color: var(--blue);
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-titel {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.contact-text {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 1050px) {
    width: 100%;
  }
}

.contact-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 100px;
  margin-top: 100px;

  @media (max-width: 1050px) {
    margin: 0 25px;
    margin-top: 60px;
    flex-direction: column;
    max-width: 480px;
  }

  @media (max-width: 950px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    margin-top: 45px;
  }
}

.goUpButton {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 39px;
  height: 39px;
  cursor: pointer;
  background-image: url("../../assets/image/icons/contact/go-up-button.png");
  transition: background-image 0.2s ease;

  &:hover {
    background-image: url("../../assets/image/icons/contact/go-up-button-hover.png");
  }

  @media (max-width: 1050px) {
    right: 25px;
  }

  @media (max-width: 500px) {
    bottom: 50px;
  }
}
