<div id="contact">
  <div class="contact-title">
    <div class="decorative-line"></div>
    <h1 translate>Contact</h1>
  </div>

  <div class="contact-section">
    <div class="contact-text">
      <h4 translate data-aos="fade-down" data-aos-duration="1500">
        Got a problem to solve?
      </h4>
      <p
        translate="contactFormText"
        data-aos="fade-down"
        data-aos-duration="1500"
      ></p>
      <p translate data-aos="fade-up" data-aos-duration="1500">
        Need a Frontend developer? <span translate>Contact me!</span>
      </p>
    </div>
    <app-contact-form></app-contact-form>
  </div>
  <div class="scroll-to-top-button" (click)="scrollToTop()"></div>
</div>
