<div id="portfolio">
  <div class="portfolio-titel-container">
    <div class="portfolio-titel">
      <div class="blue-line-left"></div>
      <h1>Portfolio</h1>
      <div class="blue-line-right"></div>
    </div>

    <div>
      <p>
        This page is a sample of my work - please feel free to try them out.
      </p>
    </div>
  </div>

  <app-projects-showcase></app-projects-showcase>

  <div class="portfolio-background-img-left">
    <img src="../../assets/image/background-portfolio-left.png" alt="" />
  </div>
  <div class="portfolio-background-img-right">
    <img src="../../assets/image/background-portfolio-right.png" alt="" />
  </div>
</div>
