<div id="portfolio">
  <div class="portfolio-title-container">
    <div class="portfolio-title">
      <div class="title-decor-container title-decor-left">
        <div class="decorative-line-left"></div>
      </div>
      <div class="title-decor-container title-decor-center">
        <h1 translate>Portfolio</h1>
      </div>
      <div class="title-decor-container title-decor-right">
        <div class="decorative-line-right"></div>
      </div>
    </div>

    <div class="portfolio-description">
      <p translate="sampleOfWork">
        This page is a sample of my work - please feel free to try them out.
      </p>
    </div>
  </div>

  <app-projects-showcase></app-projects-showcase>

  <div class="portfolio-background-img-left">
    <img
      src="assets/image/background-portfolio-left.png"
      alt="Left background of portfolio section"
    />
  </div>
  <div class="portfolio-background-img-right">
    <img
      src="assets/image/background-portfolio-right.png"
      alt="Right background of portfolio section"
    />
  </div>
</div>
