p {
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 90px;
  margin: 0;

  @media (max-width: 1550px) {
    font-size: 70px;
  }

  @media (max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 700px) {
    font-size: 60px;
  }

  @media (max-width: 530px) {
    font-size: 53px;
  }

  @media (max-width: 450px) {
    font-size: 46px;
  }

  @media (max-width: 395px) {
    font-size: 40px;
  }
}

#portfolio {
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  // padding-top: 138px;
  padding-bottom: 250px;
  background-color: #141d2f;
  box-sizing: border-box;
  height: auto;

  @media (max-width: 1050px) {
    padding-bottom: 150px;
  }

  @media (max-width: 700px) {
    padding-bottom: 100px;
  }
}

.portfolio-titel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.portfolio-titel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 42px;
}

.blue-line-left,
.blue-line-right {
  height: 4px;
  background-color: #4b47ff;
}

.headline-container {
  flex: 1;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.first-headline-container {
  display: flex;
  justify-content: flex-end;
}

.blue-line-left {
  width: 30%;
  border-radius: 10px;
}

.blue-line-right {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portfolio-background-img-left {
  z-index: 1;
  img {
    position: absolute;
    top: 1200px;
    left: 0;
    z-index: 1;
  }
}

.portfolio-background-img-right {
  z-index: 1;
  img {
    position: absolute;
    bottom: -300px;
    right: 0;
    z-index: 1;
  }
}

app-projects-showcase {
  position: relative;
  z-index: 2;
}
