<div id="my-skills">
  <div class="skills-container" [ngClass]="{ animation: scrolled }">
    <div class="skills-icons-container">
      <div class="skills-icons-bar">
        <div
          *ngFor="let icon of mySkillsIcons; let i = index"
          class="skill-icon-item"
        >
          <img
            src="assets/image/icons/mySkills/{{ icon }}"
            alt="{{ skills[i] }} Icon"
          />
          <span>{{ skills[i] }}</span>
        </div>
      </div>
    </div>
    <div class="skills-description-container">
      <div class="my-skill-text-container">
        <div class="skills-title">
          <h1>My skills</h1>
          <div class="decorative-line"></div>
        </div>

        <p>
          I have grown my frontend developments skills that have allowed me to
          create different real projects.
        </p>
        <button (click)="scrollToSection('contact')">Get in touch</button>
      </div>
    </div>
  </div>
  <div class="skills-background-image">
    <img src="assets/image/background-my-skills.png" alt="Hintergrundbild" />
  </div>
</div>
