<div id="my-skills">
  <div class="skills-container" [ngClass]="{ animation: scrolled }">
    <div class="skills-icons-container">
      <div class="skills-icons-bar">
        <div
          *ngFor="let icon of mySkillsIcons; let i = index"
          class="skill-icon-item"
          data-aos="fade-up"
        >
          <img
            src="assets/image/icons/mySkills/{{ icon }}"
            alt="{{ skills[i] }} Icon"
          />
          <span>{{ skills[i] }}</span>
        </div>
      </div>
    </div>
    <div class="skills-description-container">
      <div class="my-skill-text-container">
        <div class="skills-title">
          <h1 translate>My skills</h1>
          <div class="decorative-line"></div>
        </div>

        <p translate="frontendDevelopmentSkills"></p>

        <button
          (click)="scrollToSection('contact')"
          translate="getInTouch"
        ></button>
      </div>
    </div>
  </div>
  <div class="skills-background-image">
    <img src="assets/image/background-my-skills.png" alt="Background Image" />
  </div>
</div>
