body {
  margin: 0;
  width: 100%;
  // height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--dark-blue);
}

:root {
  --white: #fff;
  --blue-light: #00bee8;
  --blue: #4b47ff;
  --dark-blue: #141d2f;
  --gray-light: #b6b6b6;
  --green: #70e61c;
  --red: #e61c40;
}
