body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--midnight-blue);
}

:root {
  --pure-white: #fff;
  --aqua-blue: #00bee8;
  --vibrant-blue: #4b47ff;
  --midnight-blue: #141d2f;
  --silver-gray: #b6b6b6;
  --lime-green: #70e61c;
  --raspberry-red: #e61c40;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  margin: 0;

  @media (max-width: 1550px) {
    font-size: 70px;
  }

  @media (max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 700px) {
    font-size: 60px;
  }

  @media (max-width: 530px) {
    font-size: 53px;
  }

  @media (max-width: 450px) {
    font-size: 46px;
  }

  @media (max-width: 395px) {
    font-size: 40px;
  }
}
